:root {
    --primary-color: rgb(11, 78, 179);
	--anotha: #000000;	
  }
  

body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    text-decoration-style: none;
}

*{
    text-decoration: none;
}

nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    padding: 30px 10%;
    box-sizing: border-box;
    background: #77797c;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
}

li, a, button{
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 18px;
    color: #fff;
    text-decoration: none;
}

nav{
    list-style: none;
    z-index: 1;
    text-decoration: none;
    display: inline-flex;
    justify-content: space-evenly;    
}

nav ul li{
   display: inline-block;
   text-align: center;
}

nav ul li a{
    margin: 1px;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    display: inline-block;
    text-decoration: none;
    transition: all ease 0.3s ease 0;
}

nav ul li a:hover{
    border-radius: 10px;
    padding: auto;
    color: #9615db;
    background: #d2d3d3;
}

.logo i{
    height: 50px;
    min-width: 50px;
    line-height: 50px;
    text-align: center;
}

.logo i:hover{
    background-color: #d2d3d3;
    color: #9615db;
    border-radius: 10px;
}

.admin button{
    padding: 9px 25px;
    background-color: #555759;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all ease 0.3s ease 0;
}
.admin button:hover{
    box-shadow: 0 0 0 2px #d2d3d3, 0 0 0 3px var(--anotha);
}

.button-request button{
    background-color: #4c6f95;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all ease 0.3s ease 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin:auto;
    margin-top: 30px;
    width: 340px;
    height: 60px;
}

.button-request button:hover{
    box-shadow: 0 0 0 2px #fff, 0 0 0 3px var(--primary-color);
}

.banner-area{
    position: relative;
    background-image: url(images/bg9.jpg);
    width: 100%;
    height: 55vh;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 0%;
}

.area{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
}

.docs-area{
    width: 30vw;
    height: 40vh;
}

.appointment-area{
    width: 30vw;
    height: 40vh;
}

.track-area{
    width: 30vw;
    height: 40vh;
}

.banner-area .text-part h1{
    font-size: 65px;
    text-align: center;
    margin-bottom: 0%;
    padding-top: 54px;
    text-shadow: 5px 5px #77797c;
	font-family: "Century Gothic";
}

.banner-area .text-part h2{
    margin:auto;
    font-size: 65px;
    text-align: center;
    text-shadow: 5px 5px #77797c;
}

.banner-area .text-part p{
    margin: auto;
    font-size: 20px;
    padding-top: 20px;
    text-align: center;
}

.docs-area .text-part h1, .appointment-area .text-part h1, .track-area .text-part h1{
    margin: auto;
    padding-top: 30px;
    font-size: 35px;
    text-align: center;
    justify-content: center;
    text-shadow: 2px 2px #77797c;
}

.docs-area .text-part p, .appointment-area .text-part p, .track-area .text-part p{
    margin: 10px;
    font-size: 20px;
    text-align: center;
    justify-content: center;
}