:root {
    --primary-color: rgb(11, 78, 179);
  }
body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    text-decoration-style: none;
    background-image: url(images/bg9.jpg);
}

h2{
	font-size: 70px;
	font-family: "Century Gothic";
}
hr{
	width: 80%;
	height: 4px;
	background-color: black;
}



nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    padding: -10px 80px;
    box-sizing: border-box;
    background: #555759a9;
    border-bottom: 1px solid #fff;
    z-index: 1;
}

nav h1{
    margin-right: 3%;
    float: right;
	font-weight: bolder;
    font-size: 20px;
    text-transform: uppercase;
    color: #fff;
}

.sidebar{
    z-index: 2;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 300px;
    background: #484d50;
    padding: 6px 14px;
    display: inline-block;
    transition: all 0.5s ease;
}


.sidebar .logo_content .logo{
    color: #fff;
    display: flex;
    height: 50px;
    width: 100%;
    align-items: center;
    box-shadow: 0 5px 10px rgba(0,0,0,0.2);
    opacity: 1;
    pointer-events: none;
    transition: all 0.5s ease;
}

.sidebar .logo_name{
    font-size: 20;
    padding-left: 10px;
}

.sidebar ul li input{
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    border-radius: 12px;
    outline: none;
    border: none;
    background: #1d1b31;
    padding-left: 50px;
    font-size: 18px;
    color: #fff;
}

.logo_content .logo i{
    font-size: 28px;
    margin-right: 5px;
}


.sidebar ul{
    margin-top: 20px;
    margin-left: -30px;
}

.sidebar ul li{
    height: 70px;
    width: 100%;
    position: relative;
    margin: 0 5px;
    list-style: none;
}

.sidebar ul li a{
    color: #fff;
    display: flex;
    font-size: 18px;
    align-items: center;
    text-decoration: none;
    transition: all 0.5 ease;
    border-radius: 12px;
    white-space: nowrap;
}

.sidebar ul li a:hover{
    color: #9615db;
    background: #d2d3d3;
}

.sidebar ul li i{
    height: 50px;
    min-width: 50px;
    border-radius: 12px;
    line-height: 50px;
    text-align: center;
}
.sidebar .links_name{
    align-items: center;
    pointer-events: none;
    font-size: 18px;
}

a {
    text-decoration: none;
    color: #707070;
    font-size: 16px;
}

ul , li {
    list-style-type: none;
}

input {
    border: none;
    box-shadow: 0 0 4px #ccc;
    padding: 10px 15px;
    
}

input:focus {
    outline: none;
    box-shadow: 0 0 8px #ccc;
}


button:focus {
    outline: none;
}

.text-center {
    margin-top: 2%;
    margin-bottom: 0%;
    font-size: 50px;
    color: black;
    text-align: center;
  }

p{
    margin-top: 0;
    font-size: 20px;
    text-align: center;
    margin-bottom: 6%;
    color: black;
	font-family: "Century Gothic";
}

h1{
    color: black;
}

.form {
    width: 700px;  
    margin-top: 6%;
    border: 5px solid #ccc;
    border-radius: 0.35rem;
    padding: 1.5rem;
    padding-top: 2px;
    margin-left: 34%;
    display: block;
    background-color: rgb(255, 255, 255);
    z-index: 0;
  }
  
.form-step {
    transform-origin: top;
    animation: animate 0.5s;
    display: inline-block;
    text-align: left;
  }
  
  
.input-group {
    margin: .50rem 0;
    color: black;
    font-size: 19px;
    text-align: left;
    margin-left: 9%;
  }

  input{
    width: 480px;
    margin: 1rem 0;
    display: inline-block;
  }

  .input{
      margin-left: 2%;
      display: inline-block;
      color: #707070;
  }
  
.btns{
    margin-top: 10px;
    display:flex;
    justify-content: center;
    align-items: center;

  }

.receipt{
    background-color: #8C31EB;
    height: 32px;
    width: 70px;
    border-radius: .25rem;
	color: white;
	cursor: pointer;
  }
.receipt:hover {
    box-shadow: 0 0 0 2px #fff, 0 0 0 3px var(--primary-color);
  }
  
.btns button{
    padding: 0.75rem;
    display: block;
    text-decoration: none;
    background-color: #8C31EB;
    color: #f3f3f3;
    text-align: center;
    border-radius: 0.25rem;
    cursor: pointer;
    transition: 0.3s;
    font-size: 17px;
    width: 200px;
  }

.btns-group {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
  }
  
.btn {
  width: 35%; 			/* added width just change based on desired size and maybe positioning*/
    padding: 0.75rem;
    display: block;
    text-decoration: none;
    background-color: #8C31EB;
    color: #f3f3f3;
    text-align: center;
    border-radius: 0.25rem;
    cursor: pointer;
    transition: 0.3s;
    font-size: 17px;
	margin: auto;
  }
  .btn:hover {
    box-shadow: 0 0 0 2px #fff, 0 0 0 3px var(--primary-color);
  }

  label{
      width: 250px;
      display: inline-block;
  }


